QPlainTextEdit {
   background-color: #272822;
   color: #f8f8f2;
   font-size: 12px;
   border: none;
   border-right: 1px solid #333;
   margin: 0;
   padding: 0 0 0 5px;
   color: #abb2b6;
   width: 40px;
   max-width: 40px;
   selection-background-color: #49483e;
}

/*
 * HORIZONTAL
*/

QScrollBar:horizontal {
    width: 0px;
    height: 0px;
}
QScrollBar:vertical {
    width: 0px;
    height: 0px;
}